Source: golang-github-creack-pty
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders:
 Dmitry Smirnov <onlyjob@debian.org>,
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-golang,
Build-Depends-Indep:
 golang-any,
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-creack-pty
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-creack-pty.git
Homepage: https://github.com/creack/pty
XS-Go-Import-Path: github.com/creack/pty

Package: golang-github-creack-pty-dev
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description: PTY interface for Golang
 Pty is a Golang package for using unix pseudo-terminals.
